.div,.divChild{
		background-color:red;
}
.div{
		color:brown;
}
.bounceBox{
		-webkit-animation-name:bounce;
}
.divChild{
		color:white;
}
@media only screen and (max-width:64em){
	.divChild{
		background-color:gray;
		color:black;
	}
	.div{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		min-width:90px;
	}

}
@media only screen and (max-width:48em){
	.div h1{
		display:none;
	}

}
@-webkit-keyframes bounce{
	0%{
		-webkit-transform:scale(0);
		transform:scale(0);
	}
	0%,to{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	to{
		-webkit-transform:scale(1);
		transform:scale(1);
	}

}
